body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.logo {
  font-size: 40px;
  color: #1877f2;
  font-weight: bold;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
}

.signup-box {
  background-color: #fff;
  padding: 30px 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 400px;
}

h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

p {
  color: #606770;
  font-size: 14px;
  margin-bottom: 15px;
}
.dob-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.dob-row select {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccd0d5;
  border-radius: 5px;
  font-size: 14px;
  background-color: white;
}
form input,
form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccd0d5;
  border-radius: 5px;
  font-size: 14px;
}

.row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.row input,
.row select {
  flex: 1;
}

.label {
  font-size: 14px;
  margin: 10px 0 5px;
  display: block;
}


.gender {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.gender label {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  border: 1px solid #ccd0d5;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 14px;
  cursor: pointer;
}


.terms {
  font-size: 12px;
  color: #777;
  margin: 15px 0;
}

.signup-btn {
  background-color: #42b72a;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.signup-btn:hover {
  background-color: #36a420;
}

.login-link {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: orange;
  text-decoration: none;
  font-weight: bold;
}